<mt-4>
  <div>
    <h3>Deleted courses</h3>
    <a href="/me/stored/courses">Courses</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Created at</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td><a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a></td>
        <td><a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
            data-bs-target="#delete-course-modal">Delete permanently</a></td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Empty
          {{!-- <a href="/course/create">Courses</a> --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</mt-4>

{{!-- confirm delete --}}
<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete course ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form']
    var restoreForm = document.forms['restore-course-form']
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var restoreBtn = $('.btn-restore')

    //When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      courseId = button.data('id')
    })

    //When button confirm clicked
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
      deleteForm.submit()
    }

    //restore courses clicked
    restoreBtn.click(function (e) {
        e.preventDefault()
        var courseId = $(this).data('id')
        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
        restoreForm.submit()
    })
  })
</script>